@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600&family=Roboto+Slab&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins';
    background: #edf1f4;
}
.dark{
    background-color: #282c2f;
}
main{
    display: grid;
    min-height: 100vh;
    place-items: center;
}
.toggleBtn{
    position: fixed;
    width: 1.3rem;
    height: 1.3rem;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #555;
    cursor: pointer;
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
    -5px -5px 10px #fff;
}
.grid-container{
    display: grid;
    justify-content: space-around;
    width: 300px;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .1),
                -15px -15px 20px #fffb;
}
.dark .grid-container{
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .25),
    -15px -15px 20px rgba(255, 255, 255, .1);
}
#InputHere{
    width: 100%;
    height: 3rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    text-align: end;
    color: #5166d6;
    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    grid-column: span 4;
    font-size: 1.3rem;
    padding: 10px 10px;
    font-weight: 500;
}
#InputHere::-webkit-scrollbar{
    display: none;
}
.dark #InputHere{
    background-color: #33393e;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, .5),
    inset -15px -15px 20px rgba(255, 255, 255, .1);
    color: #eee;
}
button{
    padding: .5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
                -5px -5px 20px #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #666;
}
.dark button{
    color: #eee;
    background-color: #33393e;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25),
    -5px -5px 10px rgba(255, 255, 255, .1);
}
button:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1),
                inset -5px -5px 20px #fff;
    color:#f44336;
}
.dark button:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .25),
    inset -5px -5px 10px rgba(255, 255, 255, .1);
}

.bigColumn{
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;
}
.dark .bigColumn,
.dark .bigRow,
.dark .equal{
    border: 2px solid #333;
}
.dark .bigColumn{
    background-color: #f44336;
}
.dark .bigColumn:active,
.dark .bigRow:active,
.dark .equal:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
}
.bigRow{
    grid-row: span 2;
    background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}
.dark .bigRow{
    background-color: #31a935;
}
.equal{
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;
}
.dark .equal{
    background-color: #2196f3;
}
.bigColumn:active,.bigRow:active,.equal:active{
    box-shadow:5px 5px 10px rgba(0, 0, 0, .1),
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0, 0, 0, .1)
}
.dark .toggleBtn{
    background-color: #edf1f4;
    background-origin: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25),
    -5px -5px 10px rgba(255, 255, 255, .25);
}