@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    margin: 0;
    background-color:#f5f5f5;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 30px;
}
header{
    padding: 20px 40px;
    background-color: #fff;
    align-items: center;
}
header h1{
    grid-column: span 6;
}
header nav{
    grid-column: span 6;
    justify-self: end;
}
header nav a{
    text-decoration: none;
    margin-left: .8rem;
    color: #333;
}
main{
    max-width: 1200px;
    margin: 60px auto;
    padding: 1.3rem;
}
main img{
    grid-column: span 6;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
main .welcome{
    grid-column: 8 / span 5;
}
main .welcome h2{
    margin-bottom: .5rem;
}

main > h2{
    grid-column: span 12;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1.2rem;
}
main .card{
    grid-column: span 4;
    background: #fff;
    padding: 15px 25px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.05);
}
main .card h3{
    margin-bottom: 1rem;
}
main .card p{
    margin-bottom: .8rem;
    font-size: small;
}

@media screen and (max-width:960px) {
    main img{
        grid-column: 2 / span 10;
    }
    main .welcome{
        grid-column: 3 / span 8;
        text-align: center;
    }
    main .card{
        grid-column: 3 / span 8;
    }
}

@media screen and (max-width:540px) {
    header h1{
        grid-column: span 12;
        text-align: center;
    }
    header nav{
        display: flex;
        flex-direction: column;
        grid-column: span 12;
        justify-self: center;
        text-align: center;
    }
    main .welcome{
        grid-column: 3 / span 8;
        text-align: center;
    }
    main .card{
        grid-column: 3 / span 8;
    }
}